/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
@font-face {
  font-family: MarkProBlack;
  src: url(../fonts/Mark-Pro/MarkPro-Black.otf);
}
@font-face {
  font-family: MarkProRegular;
  src: url(../fonts/Mark-Pro/MarkPro-Regular.otf);
}
@font-face {
  font-family: MarkProMedium;
  src: url(../fonts/Mark-Pro/MarkPro-Medium.otf);
}
@font-face {
  font-family: MarkProBold;
  src: url(../fonts/Mark-Pro/MarkPro-Bold.otf);
}
:root {
  scroll-behavior: smooth;
  --blue-brand: #0873F6;
  --black-text: #323538;
  --hover-color: #0853f6;
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1020px;
  }
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: var(--blue-brand);
  text-decoration: none;
}

a:hover {
  color: var(--blue-brand);
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Nunito", sans-serif;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-header {
  text-align: center;
  padding-bottom: 40px;
  color: var(--black-text);
}
/*.section-header h2 {*/
/*  font-size: 13px;*/
/*  letter-spacing: 1px;*/
/*  font-weight: 700;*/
/*  margin: 0;*/
/*  color: var(--blue-brand);*/
/*  text-transform: uppercase;*/
/*}*/
/*.section-header p {*/
/*  margin: 10px 0 0 0;*/
/*  padding: 0;*/
/*  font-size: 38px;*/
/*  line-height: 42px;*/
/*  font-weight: 700;*/
/*  color: #323538;*/
/*}*/

.section-header h2 {
  margin: 10px 0 0 0;
  padding: 0;
  font-size: 38px;
  line-height: 42px;
  /*font-weight: 700;*/
  color: #323538;
  letter-spacing: 1px;
  font-family: MarkProBold;
}
@media (max-width: 768px) {
  .section-header h2 {
    font-size: 28px;
    line-height: 32px;
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #012970;
  min-height: 40px;
  margin-top: 82px;
  color: #fff;
}
@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 57px;
  }
}
.breadcrumbs h2 {
  font-size: 28px;
  font-weight: 500;
}
.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}
.breadcrumbs ol a {
  color: #fff;
  transition: 0.3s;
}
.breadcrumbs ol a:hover {
  text-decoration: underline;
}
.breadcrumbs ol li + li {
  padding-left: 10px;
}
.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #8894f6;
  content: "/";
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  background: var(--blue-brand);
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 24px;
  color: #fff;
  line-height: 0;
}
.back-to-top:hover {
  background: var(--hover-color);
  color: #fff;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

/*--------------------------------------------------------------
# Disable aos animation delay on mobile devices
--------------------------------------------------------------*/
@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}
/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.header {
  background: #fff;
  padding: 15px 0;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
}
/*.header {*/
/*  transition: all 0.5s;*/
/*  z-index: 997;*/
/*  padding: 20px 0;*/
/*}*/
/*.header.header-scrolled {*/
/*  background: #fff;*/
/*  padding: 15px 0;*/
/*  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);*/
/*}*/
.header .logo {
  line-height: 0;
}
.header .logo img {
  max-height: 40px;
  margin-right: 6px;
}
.header .logo span {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #012970;
  font-family: "Nunito", sans-serif;
  margin-top: 3px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  /*font-family: "Nunito", sans-serif;*/
  font-family: MarkProMedium;
  font-size: 16px;
  /*font-weight: 700;*/
  color: #323538;
  white-space: nowrap;
  transition: 0.3s;
  letter-spacing: 1px;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: var(--blue-brand);
}
.navbar .getstarted, .navbar .getstarted:focus {
  background: var(--blue-brand);
  padding: 8px 20px;
  margin-left: 30px;
  border-radius: 24px;
  color: #fff;
  font-weight: 500;
}
.navbar .getstarted:hover, .navbar .getstarted:focus:hover {
  color: #fff;
  background: var(--hover-color);
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
  border-radius: 4px;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 15px;
  text-transform: none;
  font-weight: 600;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  color: var(--blue-brand);
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}

/**
* Mobile Navigation 
*/
.mobile-nav-toggle {
  color: var(--blue-brand);
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}
.mobile-nav-toggle.bi-x {
  color: #fff;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(1, 22, 61, 0.9);
  transition: 0.3s;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  border-radius: 10px;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #012970;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: var(--blue-brand);
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  color: var(--blue-brand);
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
.hero {
  width: 100%;
  height: 100vh;
  /*background: url(../img/hero-background.png) top center no-repeat;*/
  /*background-size: cover;*/
}
.hero h1 {
  margin: 0;
  font-size: 48px;
  font-family: MarkProBold;
  /*font-weight: 700;*/
  /*color: #012970;*/
  color: #fff;
}
.hero h3 {
  /*color: #444444;*/
  color: #fff;
  margin: 15px 0 0 0;
  font-size: 32px;
  /*font-weight: 400;*/
  font-family: MarkProRegular;
  height: 90px;
}
.hero h3 span {
  font-size: 36px;
  /*font-weight: 700;*/
  font-family: MarkProBold;
}
.hero .btn-get-started {
  margin-top: 30px;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--blue-brand);
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}
.hero .btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.hero .btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.hero .btn-get-started:hover i {
  transform: translateX(5px);
}
.hero .hero-img {
  text-align: right;
  border-radius: 50%;
}
.hero .hero-img img {
  width: 490px;
  box-shadow: 0px 0px 100px 10px rgba(255, 255, 255, 0.3);
  /*border: 1px solid #006cef;*/
  border-radius: 50%;
}
@media (min-width: 1024px) {
  .hero {
    background-attachment: fixed;
  }
}
@media (max-width: 991px) {
  .hero {
    height: auto;
    padding: 120px 0 60px 0;
  }
  .hero .hero-img {
    text-align: center;
    /*margin-top: 80px;*/
  }
  .hero .hero-img img {
    width: 40%;
    box-shadow: 0px 0px 40px 2px rgba(255, 255, 255, 0.3);
  }
}
@media (max-width: 768px) {
  .hero {
    text-align: center;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero h2 {
    font-size: 24px;
  }
  .hero .hero-img img {
    width: 60%;
  }
}

/*--------------------------------------------------------------
# Index Page
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
.about .content {
  background-color: #f6f9ff;
  padding: 40px;
}
.about h3 {
  font-size: 14px;
  font-weight: 700;
  color: var(--blue-brand);
  text-transform: uppercase;
}
.about h2 {
  font-size: 24px;
  font-weight: 700;
  color: #012970;
}
.about p {
  margin: 15px 0 30px 0;
  line-height: 24px;
}
.about .btn-read-more {
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: var(--blue-brand);
  box-shadow: 0px 5px 25px rgba(65, 84, 241, 0.3);
}
.about .btn-read-more span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}
.about .btn-read-more i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}
.about .btn-read-more:hover i {
  transform: translateX(5px);
}

/*--------------------------------------------------------------
# Values
--------------------------------------------------------------*/
.values .box {
  padding: 30px;
  box-shadow: 0px 0 5px rgba(1, 41, 112, 0.08);
  text-align: center;
  transition: 0.3s;
  height: 100%;
}
.values .box img {
  padding: 30px 50px;
  transition: 0.5s;
  transform: scale(1.1);
}
.values .box h3 {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
}
.values .box:hover {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.values .box:hover img {
  transform: scale(1);
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
.counts {
  padding: 70px 0 60px;
}
.counts .count-box {
  display: flex;
  align-items: center;
  padding: 30px;
  width: 100%;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.counts .count-box i {
  font-size: 42px;
  line-height: 0;
  margin-right: 20px;
  color: var(--blue-brand);
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #0b198f;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
.features {
  width: 100%;
  /*height: 100vh;*/
  background: url(../img/steps-bg.png) top center no-repeat;
  background-size: cover;
}
.steps .step-self img {
  width: 100%;
}
.features .section-header h2 {
  color: #fff;
}
.features .feature-box {
  padding: 24px 20px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
}
.features .feature-box h3 {
  font-size: 18px;
  color: #012970;
  font-weight: 700;
  margin: 0;
}
.features .feature-box i {
  line-height: 0;
  background: #ecf3ff;
  padding: 4px;
  margin-right: 10px;
  font-size: 24px;
  border-radius: 3px;
  transition: 0.3s;
}
.features .feature-box:hover i {
  background: var(--blue-brand);
  color: #fff;
}
.features .feture-tabs {
  margin-top: 120px;
}
.features .feture-tabs h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .features .feture-tabs h3 {
    font-size: 28px;
  }
}
.features .feture-tabs .nav-pills {
  border-bottom: 1px solid #eee;
}
.features .feture-tabs .nav-link {
  background: none;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  color: #012970;
  padding: 12px 0;
  margin-right: 25px;
  margin-bottom: -2px;
  border-radius: 0;
}
.features .feture-tabs .nav-link.active {
  color: var(--blue-brand);
  border-bottom: 3px solid var(--blue-brand);
}
.features .feture-tabs .tab-content h4 {
  font-size: 18px;
  margin: 0;
  font-weight: 700;
  color: #012970;
}
.features .feture-tabs .tab-content i {
  font-size: 24px;
  line-height: 0;
  margin-right: 8px;
  color: var(--blue-brand);
}
.features .feature-icons {
  margin-top: 120px;
}
.features .feature-icons h3 {
  color: #012970;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
  text-align: center;
}
@media (max-width: 768px) {
  .features .feature-icons h3 {
    font-size: 28px;
  }
}
.features .feature-icons .content .icon-box {
  display: flex;
}
.features .feature-icons .content .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 10px 0;
  color: #012970;
}
.features .feature-icons .content .icon-box i {
  font-size: 44px;
  line-height: 44px;
  color: #0245bc;
  margin-right: 15px;
}
.features .feature-icons .content .icon-box p {
  font-size: 15px;
  color: #848484;
}
/*here*/


.example-header {
  background: #3D4351;
  color: #FFF;
  font-weight: 300;
  padding: 3em 1em;
  text-align: center;
}
.example-header h1 {
  color: #FFF;
  font-weight: 300;
  margin-bottom: 20px;
}
.example-header p {
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 700;
}

.container-fluid .row {
  padding: 0 0 4em 0;
}
.container-fluid .row:nth-child(even) {
  background: #F1F4F5;
}

.example-title {
  text-align: center;
  margin-bottom: 60px;
  padding: 3em 0;
  border-bottom: 1px solid #E4EAEC;
}
.example-title p {
  margin: 0 auto;
  font-size: 16px;
  max-width: 400px;
}

/*==================================
    TIMELINE
==================================*/
/*-- GENERAL STYLES
------------------------------*/
.timeline {
  /*line-height: 1.4em;*/
  line-height: 2em;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.timeline h1, .timeline h2, .timeline h3, .timeline h4, .timeline h5, .timeline h6 {
  line-height: inherit;
}

/*----- TIMELINE ITEM -----*/
.timeline-item {
  padding-left: 30px;
  position: relative;
}
.timeline-item:last-child {
  padding-bottom: 0;
}

/*----- TIMELINE INFO -----*/
.timeline-info {
  letter-spacing: 3px;
  margin: 0 0 0.5em 0;
  text-transform: uppercase;
  white-space: nowrap;
  padding-right: 30px;
  color: #fff;
}
.timeline-info h1 {
  font-family: MarkProBlack;
  font-size: 48px;
}
/*----- TIMELINE MARKER -----*/
.timeline-marker {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}
.timeline-marker:before {
  background: #fff;
  /*border: 3px solid transparent;*/
  border-radius: 100%;
  content: "";
  display: block;
  height: 15px;
  position: absolute;
  top: 4px;
  left: 0;
  width: 15px;
  transition: background 0.3s ease-in-out, border 0.3s ease-in-out;
}
.timeline-marker:after {
  content: "";
  width: 3px;
  background: #5DA4FA;
  display: block;
  position: absolute;
  top: 24px;
  bottom: 0;
  left: 6px;
}
.timeline-item:last-child .timeline-marker:after {
  content: none;
}

.timeline-item:not(.period):hover .timeline-marker:before {
  background: transparent;
  border: 3px solid #fff;
}
.timeline-item:not(.period).active .timeline-marker:before {
  background: transparent;
  border: 3px solid #fff;
}
/*----- TIMELINE CONTENT -----*/
.timeline-content {
  padding-bottom: 40px;
}
.timeline-content p:last-child {
  margin-bottom: 0;
}
.timeline-content h3 {
  font-family: MarkProRegular;
  /*font-size: 32px;*/
  /*font-size: 2em;*/

}
.timeline-content p {
  font-family: MarkProRegular;
  max-width: 80%;
}
.timeline-content p,
.timeline-content h3 {
  color: #fff;
  /*letter-spacing: 1px;*/
}
@media (min-width: 992px) {
  .timeline-content h3 {
    font-size: 32px;
  }
  .timeline-content p {
    font-size: 16px;
  }
}


/*----- TIMELINE PERIOD -----*/
.period {
  padding: 0;
}
.period .timeline-info {
  display: none;
}
.period .timeline-marker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 30px;
  position: absolute;
  border-top: 3px solid #CCD5DB;
  border-bottom: 3px solid #CCD5DB;
}
.period .timeline-marker:after {
  content: "";
  height: 32px;
  top: auto;
}
.period .timeline-content {
  padding: 40px 0 70px;
}
.period .timeline-title {
  margin: 0;
  color: #fff;
}

/*----------------------------------------------
    MOD: TIMELINE SPLIT
----------------------------------------------*/
@media (min-width: 768px) {
  .timeline-split .timeline, .timeline-centered .timeline {
    display: table;
  }
  .timeline-split .timeline-item, .timeline-centered .timeline-item {
    display: table-row;
    padding: 0;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info,
  .timeline-split .timeline-marker,
  .timeline-centered .timeline-marker,
  .timeline-split .timeline-content,
  .timeline-centered .timeline-content,
  .timeline-split .period .timeline-info {
    display: table-cell;
    vertical-align: top;
  }
  .timeline-split .timeline-marker, .timeline-centered .timeline-marker {
    position: relative;
  }
  .timeline-split .timeline-content, .timeline-centered .timeline-content {
    padding-left: 30px;
  }
  .timeline-split .timeline-info, .timeline-centered .timeline-info {
    padding-right: 30px;
  }
  .timeline-split .period .timeline-title, .timeline-centered .period .timeline-title {
    position: relative;
    left: -45px;
  }
}

/*----------------------------------------------
    MOD: TIMELINE CENTERED
----------------------------------------------*/
@media (min-width: 992px) {
  .timeline-centered,
  .timeline-centered .timeline-item,
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-marker,
  .timeline-centered .timeline-content {
    display: block;
    margin: 0;
    padding: 0;
  }
  .timeline-centered .timeline-item {
    padding-bottom: 40px;
    overflow: hidden;
  }
  .timeline-centered .timeline-marker {
    position: absolute;
    left: 50%;
    margin-left: -7.5px;
  }
  .timeline-centered .timeline-info,
  .timeline-centered .timeline-content {
    width: 50%;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-info {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(odd) .timeline-content {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-info {
    float: right;
    text-align: left;
    padding-left: 30px;
  }
  .timeline-centered > .timeline-item:nth-child(even) .timeline-content {
    float: left;
    text-align: right;
    padding-right: 30px;
  }
  .timeline-centered > .timeline-item.period .timeline-content {
    float: none;
    padding: 0;
    width: 100%;
    text-align: center;
  }
  .timeline-centered .timeline-item.period {
    padding: 50px 0 90px;
  }
  .timeline-centered .period .timeline-marker:after {
    height: 30px;
    bottom: 0;
    top: auto;
  }
  .timeline-centered .period .timeline-title {
    left: auto;
  }
}

/*----------------------------------------------
    MOD: MARKER OUTLINE
----------------------------------------------*/
.marker-outline .timeline-marker:before {
  background: transparent;
  border-color: #fff;
}
.marker-outline .timeline-item:hover .timeline-marker:before {
  background: #fff;
}
/*features end*/

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/

.services .service-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  height: 100%;
  /*padding: 60px 30px;*/
  padding: 40px 20px;
  text-align: center;
  transition: 0.3s;
  background: #FFFFFF;
  border: 2px solid #ECF0FD;
  border-radius: 20px;
}

.services .service-box:hover {
  /*background: var(--blue-brand);*/
  transform: scale(1.03);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  /*border: none;*/
}
.services .service-box .icon {
  font-size: 36px;
  padding: 40px 20px;
  /*border-radius: 4px;*/
  border-radius: 50%;
  position: relative;
  margin-bottom: 25px;
  display: inline-block;
  line-height: 0;
  transition: 0.3s;
}
.services .service-box h3 {
  color: #444444;
  /*font-weight: 500;*/
  font-family: MarkProMedium;
  font-size: 18px;
  margin-top: 30px;
}
.services .service-box .read-more {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 16px;
  padding: 8px 20px;
}
.services .service-box .read-more i {
  line-height: 0;
  margin-left: 5px;
  font-size: 18px;
}
.services .service-box.blue {
  /*border-bottom: 3px solid #2db6fa;*/
  /*border: 3px solid #2db6fa;*/
}
.services .service-box.blue .icon {
  /*color: #2db6fa;*/
  /*background: #dbf3fe;*/
}
.services .service-box.blue .read-more {
  /*color: #2db6fa;*/
}
.services .service-box.blue:hover {
  /*background: #2db6fa;*/
}
.services .service-box.orange {
  /*border-bottom: 3px solid #f68c09;*/
}
.services .service-box.orange .icon {
  /*color: #f68c09;*/
  /*background: #fde3c4;*/
}
.services .service-box.orange .read-more {
  /*color: #f68c09;*/
}
.services .service-box.orange:hover {
  /*background: #f68c09;*/
}
.services .service-box.green {
  /*border-bottom: 3px solid #08da4e;*/
}
.services .service-box.green .icon {
  /*color: #08da4e;*/
  /*background: #cffddf;*/
}
.services .service-box.green .read-more {
  /*color: #08da4e;*/
}
.services .service-box.green:hover {
  /*background: #08da4e;*/
}
.services .service-box.red {
  /*border-bottom: 3px solid #e9222c;*/
}
.services .service-box.red .icon {
  /*color: #e9222c;*/
  /*background: #fef7f8;*/
}
.services .service-box.red .read-more {
  /*color: #e9222c;*/
}
.services .service-box.red:hover {
  /*background: #e9222c;*/
}
.services .service-box.purple {
  /*border-bottom: 3px solid #b50edf;*/
}
.services .service-box.purple .icon {
  /*color: #b50edf;*/
  /*background: #f8e4fd;*/
}
.services .service-box.purple .read-more {
  /*color: #b50edf;*/
}
.services .service-box.purple:hover {
  /*background: #b50edf;*/
}
.services .service-box.pink {
  /*border-bottom: 3px solid #f51f9c;*/
}
.services .service-box.pink .icon {
  /*color: #f51f9c;*/
  /*background: #feecf7;*/
}
.services .service-box.pink .read-more {
  /*color: #f51f9c;*/
}
.services .service-box.pink:hover {
  /*background: #f51f9c;*/
}
.services .service-box:hover h3, .services .service-box:hover p, .services .service-box:hover .read-more {
  /*color: #fff;*/
}
.services .service-box:hover .icon {
  /*background: #fff;*/
}
@media (max-width: 992px) {
  .services {
    padding: 90px 0;
    margin-top: 20px;
  }
}
@media (max-width: 498px) {
  .services {
    margin-top: 50px;
    padding-top: 50px;
  }
  #main {
    /*margin-top: 50px;*/
    padding-top: 80px;
  }
}

/*--------------------------------------------------------------
# partners
--------------------------------------------------------------*/
.partners .section-header p {
  max-width: 33.33%;
  margin: 0 auto;
  padding-top: 10px;
  font-family: MarkProMedium;
  color: var(--black-text);
}
@media (max-width: 992px) {
  .partners .section-header p {
    max-width: 80%;
  }
}
/*.partners .box {*/
/*  padding: 20px 20px;*/
/*  background: #fff;*/
/*  text-align: center;*/
/*  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);*/
/*  border-radius: 4px;*/
/*  position: relative;*/
/*  overflow: hidden;*/
/*  transition: 0.3s;*/
/*  height: 100%;*/
/*  display: flex;*/
/*  justify-content: center;*/
/*  align-items: center;*/
/*}*/
.partners .box {
  width: 160px;
  height: 160px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
}
.partners img {
  /*padding: 40px 60px;*/
}
@media (max-width: 	540px) {
  .partners .box {
    width: 150px;
    height: 150px;
  }
}
/*.partners .section-body {*/
/*  margin: 0 auto;*/
/*}*/
.partners  .box-add {
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%230873F6FF' stroke-width='4' stroke-dasharray='6%2c 14' stroke-dashoffset='3' stroke-linecap='square'/%3e%3c/svg%3e");
  display: flex;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-family: MarkProBold;
  cursor: pointer;
}
.partners  .box-add i {
  color: var(--blue-brand);
  font-size: 32px;
  padding-bottom: 10px;
}
.partners  .box-add a {

}
.partners .box:hover {
  transform: scale(1.1);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.partners h3 {
  font-weight: 700;
  font-size: 18px;
  margin-bottom: 15px;
}
.partners .price {
  font-size: 36px;
  color: #444444;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}
.partners .price sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.partners .price span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}

.partners ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 26px;
  font-size: 16px;
  margin-bottom: 25px;
}
.partners ul li {
  padding-bottom: 10px;
}
.partners ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.partners .btn-buy {
  display: inline-block;
  padding: 8px 40px 10px 40px;
  border-radius: 50px;
  color: var(--blue-brand);
  transition: none;
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  transition: 0.3s;
  border: 1px solid var(--blue-brand);
}
.partners .btn-buy:hover {
  background: var(--blue-brand);
  color: #fff;
}
.partners .featured {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: var(--blue-brand);
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .accordion-collapse {
  border: 0;
}
.faq .accordion-button {
  padding: 15px 15px 20px 0;
  font-weight: 600;
  border: 0;
  font-size: 18px;
  color: #444444;
  text-align: left;
}
.faq .accordion-button:focus {
  box-shadow: none;
}
.faq .accordion-button:not(.collapsed) {
  background: none;
  color: var(--blue-brand);
  border-bottom: 0;
}
.faq .accordion-body {
  padding: 0 0 25px 0;
  border: 0;
}

/*--------------------------------------------------------------
# brandtabs
--------------------------------------------------------------*/
.brandtabs #brandtabs-flters {
  padding: 0;
  margin: 0 auto 25px auto;
  list-style: none;
  text-align: center;
  background: white;
  border-radius: 50px;
  padding: 2px 15px;
}
.brandtabs .glightbox3 img {
  max-width: 100%;
}
.brandtabs .brandtabs-item .box {
  width: 150px;
  height: 150px;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #000;
  padding: 5px;
}
/*@media (max-width: 992px) {*/
/*  .brandtabs .glightbox3 {*/
/*    width: 100%;*/
/*  }*/
/*}*/
.brandtabs #brandtabs-flters li {
  cursor: pointer;
  display: inline-block;
  /*padding: 8px 20px 10px 20px;*/
  padding-bottom: 10px;
  font-size: 20px;
  /*font-weight: 600;*/
  font-family: MarkProBold;
  line-height: 1;
  color: #444444;
  margin: 0 4px 8px 4px;
  transition: 0.3s;
  /*border-radius: 50px;*/
  border-bottom: 3px solid #fff;
}
.brandtabs #brandtabs-flters li:hover, .brandtabs #brandtabs-flters li.filter-active {
  color: var(--blue-brand);
  border-color: var(--blue-brand);
}
.brandtabs #brandtabs-flters li:last-child {
  /*margin-right: 0;*/
}
.brandtabs .brandtabs-wrap {
  transition: 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: rgba(255, 255, 255, 0.75);
}
.brandtabs .brandtabs-wrap::before {
  content: "";
  background: rgba(255, 255, 255, 0.75);
  position: absolute;
  left: 30px;
  right: 30px;
  top: 30px;
  bottom: 30px;
  transition: all ease-in-out 0.3s;
  z-index: 2;
  opacity: 0;
}
.brandtabs .brandtabs-wrap img {
  transition: 1s;
}
.brandtabs .brandtabs-wrap .brandtabs-info {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  z-index: 3;
  transition: all ease-in-out 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.brandtabs .brandtabs-wrap .brandtabs-info::before {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  top: 35px;
  left: 35px;
  border-top: 3px solid rgba(1, 41, 112, 0.2);
  border-left: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.brandtabs .brandtabs-wrap .brandtabs-info::after {
  display: block;
  content: "";
  width: 48px;
  height: 48px;
  position: absolute;
  bottom: 35px;
  right: 35px;
  border-bottom: 3px solid rgba(1, 41, 112, 0.2);
  border-right: 3px solid rgba(1, 41, 112, 0.2);
  transition: all 0.5s ease 0s;
  z-index: 9994;
}
.brandtabs .brandtabs-wrap .brandtabs-info h4 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
}
.brandtabs .brandtabs-wrap .brandtabs-info p {
  color: #012970;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}
.brandtabs .brandtabs-wrap .brandtabs-links {
  text-align: center;
  z-index: 4;
}
.brandtabs .brandtabs-wrap .brandtabs-links a {
  color: #fff;
  background: var(--blue-brand);
  margin: 10px 2px;
  width: 36px;
  height: 36px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition: 0.3s;
}
.brandtabs .brandtabs-wrap .brandtabs-links a i {
  font-size: 24px;
  line-height: 0;
}
.brandtabs .brandtabs-wrap .brandtabs-links a:hover {
  background: var(--blue-brand);
}
.brandtabs .brandtabs-wrap:hover img {
  transform: scale(1.1);
}
.brandtabs .brandtabs-wrap:hover::before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
}
.brandtabs .brandtabs-wrap:hover .brandtabs-info {
  opacity: 1;
}
.brandtabs .brandtabs-wrap:hover .brandtabs-info::before {
  top: 15px;
  left: 15px;
}
.brandtabs .brandtabs-wrap:hover .brandtabs-info::after {
  bottom: 15px;
  right: 15px;
}

/*--------------------------------------------------------------
# brandtabs Details
--------------------------------------------------------------*/
.brandtabs-details {
  padding-top: 40px;
}
.brandtabs-details .brandtabs-details-slider img {
  width: 100%;
}
.brandtabs-details .brandtabs-details-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.brandtabs-details .brandtabs-details-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--blue-brand);
}
.brandtabs-details .brandtabs-details-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--blue-brand);
}
.brandtabs-details .brandtabs-info {
  padding: 30px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
}
.brandtabs-details .brandtabs-info h3 {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}
.brandtabs-details .brandtabs-info ul {
  list-style: none;
  padding: 0;
  font-size: 15px;
}
.brandtabs-details .brandtabs-info ul li + li {
  margin-top: 10px;
}
.brandtabs-details .brandtabs-description {
  padding-top: 30px;
}
.brandtabs-details .brandtabs-description h2 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}
.brandtabs-details .brandtabs-description p {
  padding: 0;
}
/*--------------------------------------------------------------
# logo tabs
--------------------------------------------------------------*/

.logo-tabs a.active {
  border-bottom: 2px solid var(--blue-brand);
  color: var(--blue-brand);
}

.logo-tabs .nav-link {
  color: var(--black-text);
  font-family: MarkProBold;
  font-size: 20px;
  padding: 10px 0;
}
.logo-tabs .nav-link:hover {
  color: var(--hover-color);
}

.logo-tabs .nav-pills .nav-link.active {
  color: var(--blue-brand);
  background-color: white;
  border-radius: 0.5rem 0.5rem 0 0;
  font-weight: 600;
}
.logo-tabs .nav-pills {
  border-bottom: 2px solid #F6F7FB;
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px !important;
}

.logo-tabs .box {
  width: 160px;
  height: 60px;
  /*box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);*/
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5px;
}
.logo-tabs .box img {
  height: 60%;
  object-fit: fill;
}
.logo-tabs {
  padding: 100px 0;
}
@media (max-width: 	540px) {
  .logo-tabs .box {
    width: 150px;
    height: 150px;
  }
}


/*--------------------------------------------------------------
# logo tabs end
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Testimonials
--------------------------------------------------------------*/
.testimonials .testimonial-item {
  box-sizing: content-box;
  padding: 30px;
  margin: 40px 30px;
  box-shadow: 0px 0 20px rgba(1, 41, 112, 0.1);
  background: #fff;
  min-height: 320px;
  display: flex;
  flex-direction: column;
  text-align: center;
  transition: 0.3s;
}
.testimonials .testimonial-item .stars {
  margin-bottom: 15px;
}
.testimonials .testimonial-item .stars i {
  color: #ffc107;
  margin: 0 1px;
}
.testimonials .testimonial-item .testimonial-img {
  width: 90px;
  border-radius: 50%;
  border: 4px solid #fff;
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #111;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #999;
  margin: 0;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--blue-brand);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--blue-brand);
}
.testimonials .swiper-slide {
  opacity: 0.3;
}
@media (max-width: 1199px) {
  .testimonials .swiper-slide-active {
    opacity: 1;
  }
  .testimonials .swiper-pagination {
    margin-top: 0;
  }
}
@media (min-width: 1200px) {
  .testimonials .swiper-slide-next {
    opacity: 1;
    transform: scale(1.12);
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
  padding: 60px 0;
}
.team .member {
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
}
.team .member .member-img {
  position: relative;
  overflow: hidden;
}
.team .member .member-img:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  background: url(../img/team-shape.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
}
.team .member .social {
  position: absolute;
  right: -100%;
  top: 30px;
  opacity: 0;
  border-radius: 4px;
  transition: 0.5s;
  background: rgba(255, 255, 255, 0.3);
  z-index: 2;
}
.team .member .social a {
  transition: color 0.3s;
  color: rgba(1, 41, 112, 0.5);
  margin: 15px 12px;
  display: block;
  line-height: 0;
  text-align: center;
}
.team .member .social a:hover {
  color: rgba(1, 41, 112, 0.8);
}
.team .member .social i {
  font-size: 18px;
}
.team .member .member-info {
  padding: 10px 15px 20px 15px;
}
.team .member .member-info h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #012970;
}
.team .member .member-info span {
  display: block;
  font-size: 14px;
  font-weight: 400;
  color: #aaaaaa;
}
.team .member .member-info p {
  font-style: italic;
  font-size: 14px;
  padding-top: 15px;
  line-height: 26px;
  color: #5e5e5e;
}
.team .member:hover {
  transform: scale(1.08);
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
}
.team .member:hover .social {
  right: 8px;
  opacity: 1;
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
.clients {
  background-color: #F6F7FB;
}
.clients .section-header h2 span {
  color: var(--blue-brand);
}
.slide-item-box {
  width: 160px;
  height: 105px;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.clients .clients-slider .swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.clients .clients-slider .swiper-slide img {
  /*opacity: 0.5;*/
  /*transition: 0.3s;*/
  /*width: 100%;*/
}
.clients .swiper-pagination {
  /*width: 100px !important;*/
  border-radius: 20px;
  margin: 0 auto;
}
.clients .clients-slider .swiper-slide img:hover {
  opacity: 1;
}
.clients .clients-slider .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.clients .clients-slider .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #fff;
  opacity: 1;
  border: 1px solid var(--blue-brand);
}
.clients .clients-slider .swiper-pagination .swiper-pagination-bullet-active {
  background-color: var(--blue-brand);
}

/*--------------------------------------------------------------
# Recent Blog Posts
--------------------------------------------------------------*/
.recent-blog-posts .post-box {
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
  transition: 0.3s;
  height: 100%;
  overflow: hidden;
  padding: 30px;
  border-radius: 8px;
  position: relative;
  display: flex;
  flex-direction: column;
}
.recent-blog-posts .post-box .post-img {
  overflow: hidden;
  margin: -30px -30px 15px -30px;
  position: relative;
}
.recent-blog-posts .post-box .post-img img {
  transition: 0.5s;
}
.recent-blog-posts .post-box .post-date {
  font-size: 16px;
  font-weight: 600;
  color: rgba(1, 41, 112, 0.6);
  display: block;
  margin-bottom: 10px;
}
.recent-blog-posts .post-box .post-title {
  font-size: 24px;
  color: #012970;
  font-weight: 700;
  margin-bottom: 18px;
  position: relative;
  transition: 0.3s;
}
.recent-blog-posts .post-box .readmore {
  display: flex;
  align-items: center;
  font-weight: 600;
  line-height: 1;
  transition: 0.3s;
}
.recent-blog-posts .post-box .readmore i {
  line-height: 0;
  margin-left: 4px;
  font-size: 18px;
}
.recent-blog-posts .post-box:hover .post-title {
  color: var(--blue-brand);
}
.recent-blog-posts .post-box:hover .post-img img {
  transform: rotate(6deg) scale(1.2);
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
/*border: none;*/
/*outline: none;*/
/*border-radius: 10px;*/
/*box-shadow: 0px 5px 25px rgb(11 35 64 / 10%);*/
/*border-radius: 10px;*/

.contact {
  background-color: #fff;
}
.contact .contact-info {
  background: #FFFFFF;
  /* shadow */
  padding: 20px;
  /*box-shadow: 0px 5px 25px rgba(11, 35, 64, 0.3);*/
  border-radius: 10px;
  padding: 30px;
  /*height: 100%;*/
  /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
}
.contact .contact-info h2 {
  color: var(--blue-brand);
  font-size: 32px;
  font-family: MarkProBold;
}
.contact .contact-info p {
  margin: 0 ;
  color: var(--black-text);
  font-family: MarkProMedium;
}
.contact .body {
  background-color: #F6F7FB;
  border-radius: 10px;
  padding: 40px;
}
@media (max-width: 576px) {
  .contact .body {
    padding: 20px 0;
  }
}
.contact .contact-info .social-links .link {
  width: 50px;
  height: 50px;
  background-color: #fff;
  box-shadow: 0px 5px 25px rgba(11, 35, 64, 0.1);
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer;
}

.contact .body .left,
.contact .body .right {
  /*margin-right: 20px;*/
  /*margin-left: 20px;*/
}



.contact .body .right {
  background-color: #fff;
  /*height: 300px;*/
  padding: 40px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgba(11, 35, 64, 0.1);
}
@media (max-width: 992px) {
  .contact .body .left {
    margin-bottom: 20px;
  }
}
.contact .section-header span {
  color: var(--blue-brand);
}
.contact .info-box {
  color: #444444;
  background: #fafbff;
  padding: 30px;
}
.contact .info-box i {
  font-size: 38px;
  line-height: 0;
  color: var(--blue-brand);
}
.contact .info-box h3 {
  font-size: 20px;
  color: #012970;
  font-weight: 700;
  margin: 20px 0 10px 0;
}
.contact .info-box p {
  padding: 0;
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}
.contact .php-email-form {
  /*padding: 30px;*/
  height: 100%;

}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin-bottom: 24px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {

  font-size: 14px;

  border: none;
  outline: none;
  border-radius: 10px;
  box-shadow: 0px 5px 25px rgb(11 35 64 / 10%);
  border-radius: 10px;

}
.contact .php-email-form input::placeholder, .contact .php-email-form textarea::placeholder {
  color: #323538;
  font-family: MarkProMedium;
}
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
  border-color: var(--blue-brand);
}
.contact .php-email-form input {
  padding: 15px 20px;
}
.contact .php-email-form textarea {
  padding: 12px 15px;
  resize: none;
}
.contact .php-email-form button[type=submit] {
  background: var(--blue-brand);
  border: 0;
  padding: 15px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 10px;
  font-family: MarkProBold;
  letter-spacing: 1px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #0853f6;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Blog
--------------------------------------------------------------*/
.blog {
  padding: 40px 0 20px 0;
}
.blog .entry {
  padding: 30px;
  margin-bottom: 60px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .entry .entry-img {
  max-height: 440px;
  margin: -30px -30px 20px -30px;
  overflow: hidden;
}
.blog .entry .entry-title {
  font-size: 28px;
  font-weight: bold;
  padding: 0;
  margin: 0 0 20px 0;
}
.blog .entry .entry-title a {
  color: #012970;
  transition: 0.3s;
}
.blog .entry .entry-title a:hover {
  color: var(--blue-brand);
}
.blog .entry .entry-meta {
  margin-bottom: 15px;
  color: #4084fd;
}
.blog .entry .entry-meta ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  align-items: center;
  padding: 0;
  margin: 0;
}
.blog .entry .entry-meta ul li + li {
  padding-left: 20px;
}
.blog .entry .entry-meta i {
  font-size: 16px;
  margin-right: 8px;
  line-height: 0;
}
.blog .entry .entry-meta a {
  color: #777777;
  font-size: 14px;
  display: inline-block;
  line-height: 1;
}
.blog .entry .entry-content p {
  line-height: 24px;
}
.blog .entry .entry-content .read-more {
  -moz-text-align-last: right;
  text-align-last: right;
}
.blog .entry .entry-content .read-more a {
  display: inline-block;
  background: var(--blue-brand);
  color: #fff;
  padding: 6px 20px;
  transition: 0.3s;
  font-size: 14px;
  border-radius: 4px;
}
.blog .entry .entry-content .read-more a:hover {
  background: var(--blue-brand);
}
.blog .entry .entry-content h3 {
  font-size: 22px;
  margin-top: 30px;
  font-weight: bold;
}
.blog .entry .entry-content blockquote {
  overflow: hidden;
  background-color: #fafafa;
  padding: 60px;
  position: relative;
  text-align: center;
  margin: 20px 0;
}
.blog .entry .entry-content blockquote p {
  color: #444444;
  line-height: 1.6;
  margin-bottom: 0;
  font-style: italic;
  font-weight: 500;
  font-size: 22px;
}
.blog .entry .entry-content blockquote::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 3px;
  background-color: #012970;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog .entry .entry-footer {
  padding-top: 10px;
  border-top: 1px solid #e6e6e6;
}
.blog .entry .entry-footer i {
  color: #0d64fd;
  display: inline;
}
.blog .entry .entry-footer a {
  color: #013289;
  transition: 0.3s;
}
.blog .entry .entry-footer a:hover {
  color: var(--blue-brand);
}
.blog .entry .entry-footer .cats {
  list-style: none;
  display: inline;
  padding: 0 20px 0 0;
  font-size: 14px;
}
.blog .entry .entry-footer .cats li {
  display: inline-block;
}
.blog .entry .entry-footer .tags {
  list-style: none;
  display: inline;
  padding: 0;
  font-size: 14px;
}
.blog .entry .entry-footer .tags li {
  display: inline-block;
}
.blog .entry .entry-footer .tags li + li::before {
  padding-right: 6px;
  color: #6c757d;
  content: ",";
}
.blog .entry .entry-footer .share {
  font-size: 16px;
}
.blog .entry .entry-footer .share i {
  padding-left: 5px;
}
.blog .entry-single {
  margin-bottom: 30px;
}
.blog .blog-author {
  padding: 20px;
  margin-bottom: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-author img {
  width: 120px;
  margin-right: 20px;
}
.blog .blog-author h4 {
  font-weight: 600;
  font-size: 22px;
  margin-bottom: 0px;
  padding: 0;
  color: #012970;
}
.blog .blog-author .social-links {
  margin: 0 10px 10px 0;
}
.blog .blog-author .social-links a {
  color: rgba(1, 41, 112, 0.5);
  margin-right: 5px;
}
.blog .blog-author p {
  font-style: italic;
  color: #b7b7b7;
}
.blog .blog-comments {
  margin-bottom: 30px;
}
.blog .blog-comments .comments-count {
  font-weight: bold;
}
.blog .blog-comments .comment {
  margin-top: 30px;
  position: relative;
}
.blog .blog-comments .comment .comment-img {
  margin-right: 14px;
}
.blog .blog-comments .comment .comment-img img {
  width: 60px;
}
.blog .blog-comments .comment h5 {
  font-size: 16px;
  margin-bottom: 2px;
}
.blog .blog-comments .comment h5 a {
  font-weight: bold;
  color: #444444;
  transition: 0.3s;
}
.blog .blog-comments .comment h5 a:hover {
  color: var(--blue-brand);
}
.blog .blog-comments .comment h5 .reply {
  padding-left: 10px;
  color: #012970;
}
.blog .blog-comments .comment h5 .reply i {
  font-size: 20px;
}
.blog .blog-comments .comment time {
  display: block;
  font-size: 14px;
  color: #013ca3;
  margin-bottom: 5px;
}
.blog .blog-comments .comment.comment-reply {
  padding-left: 40px;
}
.blog .blog-comments .reply-form {
  margin-top: 30px;
  padding: 30px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .blog-comments .reply-form h4 {
  font-weight: bold;
  font-size: 22px;
}
.blog .blog-comments .reply-form p {
  font-size: 14px;
}
.blog .blog-comments .reply-form input {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form input:focus {
  box-shadow: none;
  border-color: #a0aaf8;
}
.blog .blog-comments .reply-form textarea {
  border-radius: 4px;
  padding: 10px 10px;
  font-size: 14px;
}
.blog .blog-comments .reply-form textarea:focus {
  box-shadow: none;
  border-color: #a0aaf8;
}
.blog .blog-comments .reply-form .form-group {
  margin-bottom: 25px;
}
.blog .blog-comments .reply-form .btn-primary {
  border-radius: 4px;
  padding: 10px 20px;
  border: 0;
  background-color: #012970;
}
.blog .blog-comments .reply-form .btn-primary:hover {
  background-color: #013289;
}
.blog .blog-pagination {
  color: #024ed5;
}
.blog .blog-pagination ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
.blog .blog-pagination li {
  margin: 0 5px;
  transition: 0.3s;
}
.blog .blog-pagination li a {
  color: #012970;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.blog .blog-pagination li.active, .blog .blog-pagination li:hover {
  background: var(--blue-brand);
}
.blog .blog-pagination li.active a, .blog .blog-pagination li:hover a {
  color: #fff;
}
.blog .sidebar {
  padding: 30px;
  margin: 0 0 60px 20px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
}
.blog .sidebar .sidebar-title {
  font-size: 20px;
  font-weight: 700;
  padding: 0 0 0 0;
  margin: 0 0 15px 0;
  color: #012970;
  position: relative;
}
.blog .sidebar .sidebar-item {
  margin-bottom: 30px;
}
.blog .sidebar .search-form form {
  background: #fff;
  border: 1px solid #ddd;
  padding: 3px 10px;
  position: relative;
}
.blog .sidebar .search-form form input[type=text] {
  border: 0;
  padding: 4px;
  border-radius: 4px;
  width: calc(100% - 40px);
}
.blog .sidebar .search-form form button {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  border: 0;
  background: none;
  font-size: 16px;
  padding: 0 15px;
  margin: -1px;
  background: var(--blue-brand);
  color: #fff;
  transition: 0.3s;
  border-radius: 0 4px 4px 0;
  line-height: 0;
}
.blog .sidebar .search-form form button i {
  line-height: 0;
}
.blog .sidebar .search-form form button:hover {
  background: #5465f2;
}
.blog .sidebar .categories ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .categories ul li + li {
  padding-top: 10px;
}
.blog .sidebar .categories ul a {
  color: #012970;
  transition: 0.3s;
}
.blog .sidebar .categories ul a:hover {
  color: var(--blue-brand);
}
.blog .sidebar .categories ul a span {
  padding-left: 5px;
  color: #aaaaaa;
  font-size: 14px;
}
.blog .sidebar .recent-posts .post-item + .post-item {
  margin-top: 15px;
}
.blog .sidebar .recent-posts img {
  width: 80px;
  float: left;
}
.blog .sidebar .recent-posts h4 {
  font-size: 15px;
  margin-left: 95px;
  font-weight: bold;
}
.blog .sidebar .recent-posts h4 a {
  color: #012970;
  transition: 0.3s;
}
.blog .sidebar .recent-posts h4 a:hover {
  color: var(--blue-brand);
}
.blog .sidebar .recent-posts time {
  display: block;
  margin-left: 95px;
  font-style: italic;
  font-size: 14px;
  color: #aaaaaa;
}
.blog .sidebar .tags {
  margin-bottom: -10px;
}
.blog .sidebar .tags ul {
  list-style: none;
  padding: 0;
}
.blog .sidebar .tags ul li {
  display: inline-block;
}
.blog .sidebar .tags ul a {
  color: #0257ee;
  font-size: 14px;
  padding: 6px 14px;
  margin: 0 6px 8px 0;
  border: 1px solid #d7e6ff;
  display: inline-block;
  transition: 0.3s;
}
.blog .sidebar .tags ul a:hover {
  color: #fff;
  border: 1px solid var(--blue-brand);
  background: var(--blue-brand);
}
.blog .sidebar .tags ul a span {
  padding-left: 5px;
  color: #a5c5fe;
  font-size: 14px;
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
  background: var(--blue-brand);
  /*padding: 0 0 30px 0;*/
  font-size: 14px;
  /*clip-path: polygon(0 30%, 50% 1%, 100% 30%, 100% 100%, 0 100%);*/
}
/*@media (max-width: 992px) {*/
/*  .footer {*/
/*    clip-path: polygon(0 20%, 50% 1%, 100% 20%, 100% 100%, 0 100%);*/
/*  }*/
/*}*/

.footer .top {
  border-bottom: 2px solid #3892FF;
  padding: 30px 0;
}
.footer .bottom {
  padding: 30px 0;
  color: #fff;
}
.footer .bottom .copyright{
  font-size: 14px;
  font-family: MarkProMedium;
}
.footer .bottom .address{
  max-width: 400px;
  font-size: 12px;
  font-family: MarkProRegular;
}
.footer .social-links {
  display: flex;
}
.footer .social-links .link {
  display: block;
  height: 45px;
  width: 45px;
  background-color: #3892FF;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 20px;
  transition-duration: .2s;
  cursor: pointer;
}
.footer .social-links .link:hover {
  background-color: #177fff;
  box-shadow: 0px 0px 20px 0px rgba(11, 35, 64, 0.3);
}
/*.footer .social-links .link img {*/
/*  width: 100%;*/
/*}*/
.footer .privacy-link {
  color: #fff;
  text-decoration: underline;
}
@media (max-width: 768px) {
  .footer .top {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0;
  }
  .footer .bottom {
     display: flex;
     flex-direction: column;
   }
  .footer .top-right {
    flex-direction: column;
    padding: 20px 0;
    align-items: center;
  }
  .footer .privacy-link {
    padding-bottom: 20px;
  }
  .footer .bottom .copyright{
    padding-bottom: 10px;
  }
}

/*animation*/
/* ---- reset ---- */

body {
  margin: 0;
  font:normal 75% Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
  vertical-align: bottom;
}

/* ---- particles.js container ---- */

.scroll-down-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 96%;
  left: 50%;
  transform: translate(-50%, -30px);
  /*border: 1px solid #000;*/
  box-shadow: 0px 5px 25px rgba(11, 35, 64, 0.3);
}

.scroll-down-icon:after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  height: 60%;
  width: 60%;
  background: url(../img/scroll-down.svg) no-repeat center bottom;
  background-size: contain;
  z-index: 1;
  animation: jump-arrow 3.5s infinite;

}

.scroll-down-icon.rotated {
  transform: rotate(180deg);
  margin-top: -20px;
}

@keyframes jump-arrow {
  0%,
  20%,
  55%,
  80%,
  100% {
    transform: translate3d(-50%, -20px, 0);
  }

  40% {
    transform: translate3d(-50%, -15px, 0);
  }

  70% {
    transform: translate3d(-50%, -10px, 0);
  }

  90% {
    transform: translate3d(-50%, -10px, 0);
  }
}

/*cursor animtion*/
.typewriter span {
  border-right: solid #fff 5px;
  animation: cursor 1s ease-in-out infinite;
}

@keyframes cursor {
  from { border-color: var(--text-color); }
  to { border-color: transparent; }
}

/*Scroll end*/

#particles-js {
  position: absolute;
  width: 100%;
  padding-top: 40px;
  /*   background-color: var(--blue-brand); */
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 50%;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 50% 97%, 0 90%);
  filter: blur(0.5px);

  /*   background color gradient */
  /*background: linear-gradient(-45deg, var(--blue-brand), #03489a, #0a54af, #03489a);*/
  background: var(--blue-brand);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;

}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#particles-js:after {
  content: " ";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(8,115,246, 0.4);

}

/* ---- stats.js ---- */

.count-particles{
  background: #000022;
  position: absolute;
  top: 48px;
  left: 0;
  width: 80px;
  color: #13E8E9;
  font-size: .8em;
  text-align: left;
  text-indent: 4px;
  line-height: 14px;
  padding-bottom: 2px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: bold;
  position: relative;
}


.js-count-particles{
  font-size: 1.1em;
}


#stats,
.count-particles{
  -webkit-user-select: none;
}

#stats{
  border-radius: 3px 3px 0 0;
  overflow: hidden;
}

.count-particles{
  border-radius: 0 0 3px 3px;
}


/*video cover*/

/* END Optional styles */
.video-container {
  width: 640px;
  border-radius: 4px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.4);
}
.video-container .video-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container video {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}

.play-button-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  pointer-events: none;
}
.play-button-wrapper #circle-play-b {
  cursor: pointer;
  pointer-events: auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}
.play-button-wrapper #circle-play-b svg {
  width: 100px;
  height: 100px;
  fill: #fff;
  stroke: #fff;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  opacity: 0.9;

}
/*video cover end*/

